### Files and Directory to discard

# Ignore all cached directories
**/__pycache__/

# Ignore ipynb checkpoints
**/.ipynb_checkpoints

# Mac stuffs 
**/.DS_Store

# Tmp files
experiments/**

# Reserved files
notebooks/rot_helper/config_sensible_paths.json
notebooks/rot_helper/config_sensible_paths_lambda.json